*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
html{
  /* este permite el scroll y que no se tpee directo xd */
  scroll-behavior: smooth;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  /* border: 1px red solid; */
}
.contenedor h1{
  text-align: center;
  padding: 15px;
}
.btn_azul{
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  color: white;
  background-color: #6495ed;
}
/* hover es para cuando el mouse esta encima del btn o txt */
.btn_azul:hover{
  background-color: black;
}
.btn_naranja{
  background-color: #f6b846;
  color: white;
  text-decoration: none;padding: 10px 35px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 60px;
  vertical-align: middle;
}
.btn_naranja:hover{
  background-color: #ffa500;
  color: #f15643;
}
.pdf{
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
.contenedor_menu{
  /* border: 1px red solid; */
  text-align: center;
  background-color: #ececec;
  padding: 10px;
}
.contenedor_menu a{
  padding: 15px 30px;
  display: inline-block;
  text-decoration: none;
  color: #6495ed;
  font-weight: bold;
  margin-right: 30px;
  border-bottom: 5px #ececec solid;
}
/* el :nth-child() sirve para que solo el del numero dentro del parentesis ejecute lo que se quiera hacer */
.contenedor_menu a:nth-child(5){
  margin-right: 0;
}
.contenedor_menu a:hover{
  border-bottom: 5px #6495ed solid;
}
.menu2{
  padding: 20px;
}
.submenu{
  border: 1px #333 solid;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  color: #333;
}