*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  border: 1px red solid;
  padding: 15px;
  text-align: center;
}
.ancho p{
  text-align: left;
}
.ancho h1{
  text-align: left;
}
.tabla1{
  padding: 10px;
}
.tabla1 td{
  padding: 5px 15px;
}
.cuadro_naranja{
  background-color: orangered;
  color: white;
  vertical-align: bottom;
}
.negrita{
  font-weight: bold;
  text-align: center;
}
.filanormal{
 width: 600px;
}
.filanormal:hover{
  background-color: #ececec;
}