*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  border: 1px red solid;
}
h1{
  padding: 20px;
  text-align: center;
}
.contenedorvideo{
  text-align: center;
}
.video{
  max-width: 400px;
  border: 1px blue solid;
  border-radius: 20px;
  margin: auto;
  text-align: center;
}
.videoyoutube{
  width: 800px;
  height: 450px;
  border-radius: 15px;
  border: 10px #cc9900 solid;
}
.mapa{
  width: 100%;
  height: 500px;
}
.contenedorpagina{
  height: 100vh;
  width: 100vW;
  background-color: #ececec;
}
.contenedorpagina iframe{
  width: 100%;
  height: 100%;
}
.titulomarquesina{
  text-align: center;
}
.contenedormarquesina{
  text-align: center;
}
.marquesina{
  border: 1px blue solid;
  width: 700px;
  margin: auto;
}
.parrafo{
  border: 1px orange solid;
  width: 500px;
  white-space: normal;
}
.btn_rojo{
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 0px;
}
.rojo{
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 0px;
}
.azul{
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 0px;
}