*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  border: 1px red solid;
}
h1{
  padding: 20px;
  text-align: center;
}
.tabla1{
  width: 900px;
  margin: auto;
  border: 2px #4472c4 dotted;
  border-spacing: 5px;
  text-align: center;
  border-radius: 15px;
}
.tabla1 th{
  border-radius: 15px;
  width: 200px;
}
.tabla1 td{
  border: 1px #4472c4 solid;
  padding: 10px;
  border-radius: 15px;
}
.titulostabla{
  background-color: #4472c4;
  color: white;
  height: 50px;
  border-radius: 15px;
}
.fondoazul{
  background-color: #d9e2f3;
}
h2{
  text-align: center;
}
.tabla2{
  border: 1px #38a3f8 solid;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}
.tabla2 td{
  border: 1px #38a3f8 solid;
  border-radius: 5px;
  padding: 10px;
}
.tabla2 th{
  background-color: #bbdcf7;
  border: 1px #38a3f8 solid;
  border-radius: 5px;
  padding: 10px;
}
.calendario{
  height: 100px;
}

.medida{
  width: 200px;
}
.naranja{
  background-color: #edccaa;
  text-align: center;
  font-weight: bold;
}
.tabla3{
  border: 1px #6b6b6b solid;
  margin: auto;
  text-align: center;
}
.tabla3 img{
  width: 50px;
}
.tabla3 td{
  width: 150px;
  border: 1px #6b6b6b solid;
  padding: 10px;
  border-spacing: 0px;
}

.btn_morado{
  text-decoration: none;
  background-color: purple;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}
.tabla3 a{
  text-decoration: none;
  font-weight: bold;
}